@model List<Blog.Models.BlogModel>
@{
    ViewData["Title"] = "HomeView";
}

<h2>HomeView</h2>
@foreach (var blog in Model)
{
    var readMore = false;
    <section>
        <p>@blog.Title</p>
        <p>@blog.SubTitle</p>
        <p>@blog.Author</p>
        <p>@blog.CreateTime</p>
        <p>@blog.LastEditTime</p>
        <p>@blog.Tag</p>
        <p>@blog.Category</p>
        <pre class="markdown">
        @{
            if (blog.MainBody.Contains("<!--more-->"))
            {
                blog.MainBody = blog.MainBody.Split("<!--more-->")[0];
                readMore = true;
            }
            blog.MainBody = "\r\n" + blog.MainBody;//神奇的开头空格，先给个换行
        }
        @blog.MainBody
        </pre>
        @{
            if (readMore)
            {
                var link = "blog/article?id="+blog.Id;
                <a href="@link">阅读更多</a>
            }
        }
    </section>
    readMore = false;
}

